In [1]:
import pandas as pd
import numpy as np 
import wget
import zipfile
import os
from datetime import date
import datetime

In [110]:
# Dates with historical data and breaks
end_date    = date(2020, 10, 4)
#end_date    = date(2020, 4, 15)
start_date  = date(2020, 4, 12)
break_date  = date(2020, 10, 6)
dateseries  = [date.fromordinal(i) for i in range(start_date.toordinal(), end_date.toordinal()+1)]

# Empty dataset
columns     = ['id','DeathsR','CasesR']
mxr         = pd.DataFrame(index=dateseries,columns=columns)
mxr         = mxr.reset_index()
mxr         = mxr.rename(columns={"index": "date"})
mxr['date'] = pd.to_datetime(mxr['date'])
mxr['id']   = 0

mxr = mxr.reset_index()
del mxr['index']

In [111]:
# Download the entire raw data and build a new dataset with specific selections - as reported!!
# Data address: https://www.gob.mx/salud/documentos/datos-abiertos-152127
    
for i in dateseries:
    print('Working on: '+str(i), end="\r")

    # Extract year, month, day
    year = str(i.year-2000)
    if i.month<10:
        month = str(0)+str(i.month)
    else:
        month = str(i.month)
    if i.day<10:    
        day   = str(0)+str(i.day)
    else:   
        day   = str(i.day)

    # Download and extract file    
    filenamezip = 'datos_abiertos_covid19_'+day+'.'+month+'.20'+year+'.zip'
    if i.year<=2020:
        url = 'http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/historicos/'+month+'/'+filenamezip
    else:
        url = 'http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/historicos/20'+year+'/'+month+'/'+filenamezip
    filenamezip = wget.download(url)
    with zipfile.ZipFile(filenamezip, 'r') as zip_ref:
        zip_ref.extractall()

    # Read data and delete files
    filename = year+month+day+'COVID19MEXICO.csv'
    df = pd.read_csv(filename,encoding='latin1',low_memory=False)
    os.remove(filenamezip)
    os.remove(filename)

    # Data selection DEATHS
    if i<=break_date:
        s = df[
            (df['FECHA_DEF'] != '9999-99-99') & 
            (df['RESULTADO'] == 1) 
        ][['FECHA_DEF','RESULTADO']] .groupby("FECHA_DEF") .count() .cumsum()
        s.index= pd.to_datetime(s.index)
        idx = pd.date_range(start_date.strftime("%Y-%m-%d"), i.strftime("%Y-%m-%d"))
        s = s.reindex(idx).fillna(method='ffill').fillna(0)
        s = s.rename(columns={'RESULTADO': 'DeathsR'})
    else:
        s = df[
            (df['FECHA_DEF'] != '9999-99-99') & 
            (df['CLASIFICACION_FINAL'] <= 3)
        ][['FECHA_DEF','CLASIFICACION_FINAL']] .groupby("FECHA_DEF") .count() .cumsum()
        s.index= pd.to_datetime(s.index)
        idx = pd.date_range(start_date.strftime("%Y-%m-%d"), i.strftime("%Y-%m-%d"))
        s = s.reindex(idx).fillna(method='ffill').fillna(0)
        s = s.rename(columns={'CLASIFICACION_FINAL': 'DeathsR'})

    mxr.loc[(mxr['date']==pd.to_datetime(i)),'DeathsR'] = s['DeathsR'][-1]
    del s
    del idx
    
    # Data selection CASES
    if i<=break_date:
        s = df[
            (df['FECHA_SINTOMAS'] != '9999-99-99') & 
            (df['RESULTADO'] == 1) 
        ][['FECHA_SINTOMAS','RESULTADO']] .groupby("FECHA_SINTOMAS") .count() .cumsum()
        s.index= pd.to_datetime(s.index)+ pd.DateOffset(1)
        idx = pd.date_range(start_date.strftime("%Y-%m-%d"), i.strftime("%Y-%m-%d"))
        s = s.reindex(idx).fillna(method='ffill').fillna(0)
        s = s.rename(columns={'RESULTADO': 'CasesR'})
    else:
        s = df[
            (df['FECHA_SINTOMAS'] != '9999-99-99') & 
            (df['CLASIFICACION_FINAL'] <= 3)
        ][['FECHA_SINTOMAS','CLASIFICACION_FINAL']] .groupby("FECHA_SINTOMAS") .count() .cumsum()
        s.index= pd.to_datetime(s.index)+ pd.DateOffset(1)
        idx = pd.date_range(start_date.strftime("%Y-%m-%d"), i.strftime("%Y-%m-%d"))
        s = s.reindex(idx).fillna(method='ffill').fillna(0)
        s = s.rename(columns={'CLASIFICACION_FINAL': 'CasesR'})

    mxr.loc[(mxr['date']==pd.to_datetime(i)),'CasesR'] = s['CasesR'][-1]
    del s
    del idx 

    del df

In [112]:
mxr

          date  id DeathsR  CasesR
0   2020-04-12   0     296    4661
1   2020-04-13   0     332    5014
2   2020-04-14   0     406    5399
3   2020-04-15   0     449    5847
4   2020-04-16   0     486    6297
5   2020-04-17   0     546    6875
6   2020-04-18   0     650    7497
7   2020-04-19   0     686    8261
8   2020-04-20   0     712    8772
9   2020-04-21   0     857    9501
10  2020-04-22   0     970   10544
11  2020-04-23   0    1069   11633
12  2020-04-24   0    1221   12872
13  2020-04-25   0    1305   13842
14  2020-04-26   0    1351   14676
15  2020-04-27   0    1434   15529
16  2020-04-28   0    1569   16752
17  2020-04-29   0    1732   17799
18  2020-04-30   0    1859   19224
19  2020-05-01   0    1972   20739
20  2020-05-02   0    2061   22088
21  2020-05-03   0    2154   23471
22  2020-05-04   0    2270   24905
23  2020-05-05   0    2507   26025
24  2020-05-06   0    2704   27634
25  2020-05-07   0    2961   29616
26  2020-05-08   0    3160   31522
27  2020-05-09   0    3353   33460
28  2020-05-10   0    3465   35022
29  2020-05-11   0    3573   36327
..         ...  ..     ...     ...
146 2020-09-05   0   67326  629408
147 2020-09-06   0   67558  634023
148 2020-09-07   0   67781  637509
149 2020-09-08   0   68484  642860
150 2020-09-09   0   69095  647507
151 2020-09-10   0   69649  652364
152 2020-09-11   0   70183  658299
153 2020-09-12   0   70604  663973
154 2020-09-13   0   70821  668381
155 2020-09-14   0   71049  671716
156 2020-09-15   0   71678  676487
157 2020-09-16   0   71978  680931
158 2020-09-17   0   72179  684113
159 2020-09-18   0   72803  688954
160 2020-09-19   0   73258  694121
161 2020-09-20   0   73493  697663
162 2020-09-21   0   73697  700580
163 2020-09-22   0   74348  705263
164 2020-09-23   0   74949  710049
165 2020-09-24   0   75439  715457
166 2020-09-25   0   75844  720858
167 2020-09-26   0   76243  726431
168 2020-09-27   0   76430  730317
169 2020-09-28   0   76603  733717
170 2020-09-29   0   77163  738163
171 2020-09-30   0   77646  743216
172 2020-10-01   0   78078  748315
173 2020-10-02   0   78492  753090
174 2020-10-03   0   78880  757953
175 2020-10-04   0   79088  761665

[176 rows x 4 columns]

In [113]:
# Save dataset 
mxr.to_csv('Data_Reported_all.csv', index=False)

In [107]:
# Get data as occurred

end_date    = date(2021, 9, 18)
#end_date    = date(2020, 5, 15)
start_date  = date(2020, 4, 12)
break_date  = date(2020, 10, 6)
dateseries  = [date.fromordinal(i) for i in range(start_date.toordinal(), end_date.toordinal()+1)]

# Empty dataset
columns     = ['id','DeathsO','CasesO']
mxo         = pd.DataFrame(columns=columns)

for i in [end_date]:
    print('Working on: '+str(i), end="\r")
    
    # Extract year, month, day
    year = str(i.year-2000)
    if i.month<10:
        month = str(0)+str(i.month)
    else:
        month = str(i.month)
    if i.day<10:    
        day   = str(0)+str(i.day)
    else:   
        day   = str(i.day)

    # Download and extract file    
    filenamezip = 'datos_abiertos_covid19_'+day+'.'+month+'.20'+year+'.zip'
    if i.year<=2020:
        url = 'http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/historicos/'+month+'/'+filenamezip
    else:
        url = 'http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/historicos/20'+year+'/'+month+'/'+filenamezip
    filenamezip = wget.download(url)
    with zipfile.ZipFile(filenamezip, 'r') as zip_ref:
        zip_ref.extractall()

    # Read data and delete files
    filename = year+month+day+'COVID19MEXICO.csv'
    df = pd.read_csv(filename,encoding='latin1',low_memory=False)
    os.remove(filenamezip)
    os.remove(filename)

    # Municipality and entity

    # Data selection
    if i<=break_date:
        s = df[
            (df['FECHA_DEF'] != '9999-99-99') & 
            (df['RESULTADO'] == 1) 
        ][['FECHA_DEF','RESULTADO']] .groupby("FECHA_DEF") .count() .cumsum()
        s.index= pd.to_datetime(s.index)
        idx = pd.date_range(start_date.strftime("%Y-%m-%d"), i.strftime("%Y-%m-%d"))
        s = s.reindex(idx).fillna(method='ffill').fillna(0)
        s = s.rename(columns={'RESULTADO': 'DeathsO'})
    else:
        s = df[
            (df['FECHA_DEF'] != '9999-99-99') & 
            (df['CLASIFICACION_FINAL'] <= 3)
        ][['FECHA_DEF','CLASIFICACION_FINAL']] .groupby("FECHA_DEF") .count() .cumsum()
        s.index= pd.to_datetime(s.index)
        idx = pd.date_range(start_date.strftime("%Y-%m-%d"), i.strftime("%Y-%m-%d"))
        s = s.reindex(idx).fillna(method='ffill').fillna(0)
        s = s.rename(columns={'CLASIFICACION_FINAL': 'DeathsO'})
    del idx
    
    if i<=break_date:
        ss = df[
            (df['FECHA_SINTOMAS'] != '9999-99-99') & 
            (df['RESULTADO'] == 1) 
        ][['FECHA_SINTOMAS','RESULTADO']] .groupby("FECHA_SINTOMAS") .count() .cumsum()
        ss.index= pd.to_datetime(ss.index)+ pd.DateOffset(1)
        idx = pd.date_range(start_date.strftime("%Y-%m-%d"), i.strftime("%Y-%m-%d"))
        ss = ss.reindex(idx).fillna(method='ffill').fillna(0)
        ss = ss.rename(columns={'RESULTADO': 'CasesO'})
    else:
        ss = df[
            (df['FECHA_SINTOMAS'] != '9999-99-99') & 
            (df['CLASIFICACION_FINAL'] <= 3)
        ][['FECHA_SINTOMAS','CLASIFICACION_FINAL']] .groupby("FECHA_SINTOMAS") .count() .cumsum()
        ss.index= pd.to_datetime(ss.index)+ pd.DateOffset(1)
        idx = pd.date_range(start_date.strftime("%Y-%m-%d"), i.strftime("%Y-%m-%d"))
        ss = ss.reindex(idx).fillna(method='ffill').fillna(0)
        ss = ss.rename(columns={'CLASIFICACION_FINAL': 'CasesO'})

    s = s.join(ss)
    mxo = mxo.append(s)
    del s,ss,idx
    del df

mxo         = mxo.reset_index()
mxo         = mxo.rename(columns={"index": "date"})

In [109]:
mxo.head(30)

         date CasesO  DeathsO   id
0  2020-04-12  11696    727.0  NaN
1  2020-04-13  12566    828.0  NaN
2  2020-04-14  13638    941.0  NaN
3  2020-04-15  14657   1058.0  NaN
4  2020-04-16  15850   1165.0  NaN
5  2020-04-17  17014   1308.0  NaN
6  2020-04-18  18355   1445.0  NaN
7  2020-04-19  19765   1627.0  NaN
8  2020-04-20  21024   1838.0  NaN
9  2020-04-21  23098   2055.0  NaN
10 2020-04-22  24469   2271.0  NaN
11 2020-04-23  25900   2502.0  NaN
12 2020-04-24  27374   2766.0  NaN
13 2020-04-25  29125   3056.0  NaN
14 2020-04-26  30938   3365.0  NaN
15 2020-04-27  32560   3649.0  NaN
16 2020-04-28  34546   3972.0  NaN
17 2020-04-29  36286   4357.0  NaN
18 2020-04-30  37855   4709.0  NaN
19 2020-05-01  40000   5119.0  NaN
20 2020-05-02  42994   5476.0  NaN
21 2020-05-03  45097   5843.0  NaN
22 2020-05-04  47085   6303.0  NaN
23 2020-05-05  49601   6753.0  NaN
24 2020-05-06  52157   7168.0  NaN
25 2020-05-07  54445   7575.0  NaN
26 2020-05-08  56954   8016.0  NaN
27 2020-05-09  59872   8434.0  NaN
28 2020-05-10  62467   8889.0  NaN
29 2020-05-11  65971   9350.0  NaN

In [128]:
# Put both together
mxr = pd.read_csv('Data_Reported_all.csv',encoding='latin1',low_memory=False)
mxr['date'] = mxr['date'].astype('datetime64[ns]')
mx = mxo.join(mxr[mxr['date']<='2020-10-05'][['CasesR','DeathsR']]).reset_index()
del mx['id']

In [131]:
mx.to_csv('Data_Reported_all_both.csv', index=False)